:root {
    /* Colores Principales */
    /* Para el texto */
    --font-color: #eee;
    --font-color-complementary: #30d4da;
    --font-color-dark: #000;
    /* Para el contenido */
    --main-color: #152230;
    --main-color-complementary: #1e4344;
    --main-color-complementary-darker: #152d2e;
    --alternative-bg-cta: #968f81;
    /* Selección del usuario */
    --font-color-selected: #159978;
    --shadow-selected: rgba(0 0 0 / 100%);
    
    /* Sombras */
    --shadow: rgb(0 0 0 / 80%);
    --brighter-shadow: rgb(100% 100% 100% / 70%);

    /*Table Colors*/
    --table-color: #0d1b1b;
    --table-color-border: #0d1818;
    --table-external-border: #2b6c6d;

    --table-color-A: #2a6c6e;
    --table-color-A-hover: #235c5e;
    --table-color-B: #255758;
    --table-color-B-hover: #1f4849;

    --table-finish-state: #4F8F6A;
    --table-finish-state-hover: #58a779;
    --table-start-state: #26685a;
    --table-start-state-hover: #2a7565;
    --table-blocked-state: #6B3A3A;
    --table-blocked-state-hover: #944949;

    /* Formulario */
    --contact-bg: rgba(171, 241, 208, 0.05);
    --correct-input-color: #98f598;
    --incorrect-input-color: #f19b9b;
    --map-border: #2b6c6d;

    /* Configuración fuente */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    /* Reset */
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--font-color);
    list-style: none;
    font-style: normal;
    box-sizing: border-box;
}

::selection{
    color: var(--font-color-selected);
    text-shadow: 0 0 1rem var(--shadow-selected);
}

/* Clases generales */
.link {
    text-shadow: 0 0 1rem var(--shadow);
    color: var(--font-color-complementary);

    transition: color .3s, text-shadow .2s;

    /* Para los enlaces con images de las redes sociales */
    & img {
        width: 1rem;
        transition: filter .3s;
    }

    /* Para el efecto de aparición de la linea */
    position: relative;
    
    &:after {
        content: "";
        
        border-bottom: 2px solid var(--font-color);
        width: 0;
        
        position: absolute;
        inset: 0;
        margin: auto;

        transition: width .3s;
    }

    &:hover {
        text-shadow: 0 0 1.2rem var(--brighter-shadow);
        color: var(--font-color);

        & > img {
            filter: brightness(120%);
        }

        &:after {
            width: 100%;
        }
    }
}

.button {
    background-color: var(--main-color-complementary);
    
    border-radius: 9999px;  /* Pongo 9999px para sobrepasar el ancho del contenedor */
                            /* Esto lo tengo que hacer al no conocer la altura del contenedor */
                            /* Se que es una solución cutre, pero no se me ocurría otra */
    border: none;
    box-shadow: 0 0 1rem 0 var(--shadow);
    
    font-weight: bold;
    
    user-select: none;  /* No creo que sea correcto que el usuario puede seleccionar el interior de un botón */
    cursor: pointer;    /* Según tengo entendido, ayuda al usuario a saber que el algo clickable */
    
    padding: .8rem;

    font-size: 1.15rem;
    white-space: nowrap; /* Para que no haga un salto de linea */

    transition: color .3s, background-color .4s, text-shadow .3s;

    &:hover {
        color: var(--font-color);
        background-color: var(--main-color);
        text-shadow: 0 0 1rem var(--brighter-shadow);
    }
}

/* Etiquetas generales */
html {
    scroll-behavior: smooth; /* Con esta propiedad y valor, el scroll se suaviza */
                             /* Lo cual es interesante para los enlaces internos usando ids*/
}

body {
    background-color: var(--main-color);
    
    min-height: 100dvh; /* Para que en caso de que el contenido no ocupe el total de la pantalla, aun así el contenedor tenga el tamaño para ocupar la */
                        /* dvh es el alto de la pantalla de forma dinámica */
                        /* Es decir, que en mobiles cuando se oculta la barra de direcciones se recalcula */
    /* Este grid es para que el footer este siempre al final de la página */
    display: grid;
    /*
        Exp.:
        Creas una grilla de 1 columna y en este caso 4 filas.
        Una para el header, otra para el nav, otra para main, y otro footer.

        Y le dices que los tamaños de las celdas sean automáticos para el header, nav y footer
        esto se traduce al tamaño que considere el navegador oportuno, normalmente el que 
        ocupa el contenido. Mientras que al la celda que encapsula el contenido centra 
        ocupa una fracción. Y puesto que una fracción del espacio restante es el espacio disponible,
        el tamaño de la celda ocupa lo restante del contenedor
    */
    grid-template-rows: auto auto 1fr auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 0 0 1rem var(--shadow);
    margin: 2rem 0;
}

h2, caption {
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1rem var(--shadow);
}

h3 {
    font-size: 1.5rem;
}

p, td, label {
    font-size: 1rem;
    text-shadow: 0 0 1rem var(--shadow);
}

sup {
    font-size: .6rem;
}

strong {
    font-weight: bold;
}

header  {
    background-color: var(--main-color-complementary);
    height: 6vh;
    min-height: 30px; /* Para el caso de ventanas con poca altura */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    padding-left: .5rem;

    & a {
        height: 85%
    }

    & img {
        height: 100%;
    }
}

nav {
    height: 4dvh;
    min-height: 30px; /* Para el caso de ventanas con poca altura */

    background-color: var(--main-color-complementary);
    
    border-bottom: solid 3px var(--main-color-complementary-darker);

    /* Para mantener el nav siempre visible */
    position: sticky;
    top: 0;
    z-index: 3;

    & ul {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 2rem;
    }

    & li {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & a {
            transition: color .3s;

            &:hover {
                color: var(--font-color-complementary);
            }
        }
    }
}

footer {
    background-color: var(--main-color-complementary);
    border-top: 3px solid var(--main-color-complementary-darker);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: .4rem 0;

    & * {
        margin: .3rem;
    }

    /* Para separar los enlaces legales */
    & section:first-child li:first-child {
        margin-bottom: 1rem;
    }

    /* Copyright */
    & section:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Enlaces a redes sociales */
    & section:last-child a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

/* index.html */
#hero {
    /* El linear-gradient esta para oscurecer la imagen */
    background-image: linear-gradient(rgb(0 0 0 / 25%)), url('../img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Parallax */

    min-height: 90vh;


    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* He decidido que en vez de estar centrado completamente horizontal y veritcalmente, lo este verticalmente, y coupando espacio desde la mitad hasta abajo de contenedor */
}

.hero-content{
    flex-basis: 45dvh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;

    /* Fuente aumentada significativamente a la del resto de la página */
    & h1 {
        font-size: 3rem;
    }

    & p {
        font-size: 1.2rem;
        text-align: center;
    }

    & h1, & p {
        text-shadow: 0 0 .5rem var(--brighter-shadow);
    }

    & .button {
        margin-bottom: 1rem;
    }
}

#services{
    min-height: 100dvh; /* Para seguir la linea de ocupar la pantalla entera */
    
    /* Por la ampliación de los elementos del bento */ 
    /* En algunas pantallas muy anchas podrías sobre salir */
    max-width: 100dvw;
    overflow-x: hidden;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2 {
        /* Como el titulo de arriba es más grande, descompensa este titulo */
        /* Por lo que puntualmente es el h2 es más grande */
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.bento {
    /* Para ajustar el bento al padre. */
    flex: 1 1 auto;

    /* Por que no hay tanto contenido como para ocupar toda la pantalla */
    max-width: 1350px;

    /* He decidido usar un grid para hacer un bento */
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 1rem;

    user-select: none; /* Me parece chocante que el usuario puede seleccionar en los elementos del bento */

    padding-bottom: 3rem;

    & .expandir-horizontal {
        grid-column-start: span 2;
        flex-direction: row;
    }

    & .expandir-vertical {
        grid-row-start: span 2;
    }

    & article {
        background-color: var(--main-color-complementary);
        border-radius: .5rem;
        padding: .5rem 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        box-shadow: 0 0 1rem var(--shadow);

        transition: filter .5s ease, transform .3s ease-out, box-shadow .3s ease-out;

        & .emoji {
            font-size: 5rem;
        }

        & .content {
            & h3 {
                margin-bottom: .5rem;
                transition: text-shadow .3s;
            }

            & p {
                margin-bottom: 1rem;
                transition: text-shadow .3s;
            }
        }

        &:hover {
            filter: brightness(105%);
            transform: scale(105%);
            box-shadow: 0 0 3rem 1rem var(--shadow);
            z-index: 2;

            & h3, p {
                text-shadow: 0 0 1rem var(--brighter-shadow);
            }
        }
    }

    /*
    https://lenguajecss.com/css/selectores/combinador-has/
    https://lenguajecss.com/css/selectores/combinador-not/
    */
    /* Si algún article esta en :hover, a los que no están en ese estado se les aplican los estilos */
    &:has(article:hover) article:not(article:hover) {
        filter: blur(1px);
    }
}

#CTA {
    min-height: 45dvh;

    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CTA-card {
    background-image: linear-gradient(rgb(0 0 0 / 25%)), url('../img/cta.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;

    width: 80dvw;
    max-width: 1000px; /* Para pantallas muy anchas */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    padding: 3rem 2rem;

    & > * {
        max-width: 60%; /* Para dejarle espacio al hombre del fondo */
    }

    /* Contenedor para ordenar los botones */
    & div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
}

/* proyecto-estrella.html */
#main-content {
    /* Para el layout de main + aside */
    display: flex;
    flex-direction: row;

    & main {
        background-color: var(--main-color);
 
        flex: 1 1 auto; /* Para que ocupe todo el espacio disponible */
        max-width: 75dvw; /* Pero no más que el 75% de la pantalla */

        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            margin-bottom: 4rem;
        }

        & h2 {
            text-align: left;
        }

        & p {
            text-indent: 1.5rem;
            margin-bottom: 1rem;
        }

        & section {
            max-width: 80%; /* Para apretar un poco más el contenido */
            margin-bottom: 3rem;
        }

        & #pricing {
            max-width: 85%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;

            cursor: default;
            margin-top: 5rem;

            & article {
                background-color: var(--main-color-complementary);
                
                /* Para que se ajuste al espacio*/
                /* Y haga el salto cuando no pueda encogerse por el contenido */
                /* Apura hasta no poder contener el contenido */
                flex: 1 1 min-content;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                border-radius: 1rem;
                padding: .5rem;

                box-shadow: 0 0 1rem 0 var(--shadow);

                transition: box-shadow .3s;

                & h2 {
                    text-align: center;
                }

                & li {
                    margin: 1rem 0 1rem 1.5rem;
                    list-style: disc outside;

                    padding-left: .4rem;

                    &::marker {
                        content:"•";
                    }
                }

                & h3 {
                    margin: 1rem 0 .5rem 0;
                }

                &:hover {
                    box-shadow: 0 0 1.5rem 0 var(--brighter-shadow);
                }
            }
        }

        & #legend {
            & sup, & p, & h3 {
                display: inline;
            }

            & sup {
                margin-right: .5rem;
            }

            & li {
                margin: 1rem 0;
            }
        }
    }

    & aside {
        /* Para que se adapte al espacio disponible */
        flex: 1 1 auto;
        
        background-color: var(--main-color-complementary);
        border-left: 3px solid var(--main-color-complementary-darker);
        padding: 1rem 2rem 1rem 1rem;

        & h3 {
            text-align: center;
        }

        & li {
            margin: 1rem 0;

            list-style: disc outside;

            padding-left: .4rem;
            
            &::marker {
                content: "•";
                color: var(--font-color);
                white-space: nowrap;
            }
        }

        & a {
            text-shadow: 0 0 .6rem var(--brighter-shadow);
            
            transition: text-shadow .3s, color .3s;
            
            /* Variante de los enlaces normales */
            position: relative;
            &:after {
                content: "";

                position: absolute;
                bottom: 0;
                left: 0;

                width: 0;

                border-bottom: 2px solid var(--font-color);

                transition: width .3s;
            }

            &:hover {
                color: var(--font-color-complementary);
                text-shadow: 0 0 1rem var(--shadow);
            }

            &:hover:after {
                width: 100%;
            }
        }
    }
}

/* cronologia.html */
#content-cronologia {
    display: flex;
    flex-direction: column;
    align-items: center;

    & section {
        margin: 2rem 0 2rem 0;
    }

    /* Sección del texto */
    & section:nth-of-type(1) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        max-width: 90%;

        & article {
            margin-bottom: 2rem;

            & h2 {
                text-align: left;
                margin-bottom: .5rem;
            }

            & p {
                text-indent: 1.5rem;
            }
        }
    }
}

#service-table {
    width: 95dvw;

    cursor: cell;
    
    background-color: var(--table-color);
    border: 2px solid var(--table-external-border);
    box-shadow: 0 0 10px var(--table-external-border);
    border-collapse: collapse;

    & .nowrap {
        white-space: nowrap;
    }

    & .empty-cell {
        background-color: var(--table-color);

        &:hover {
            /* Necesito utilizar important porque el :hover genérico tiene más especificidad. */
            background-color: var(--table-color) !important;
        }
    }

    & .finish-state {
        background-color: var(--table-finish-state);
        text-align: center;

        &:hover{
            background-color: var(--table-finish-state-hover) !important;
        }
    }

    & .start-state {
        background-color: var(--table-start-state);
        text-align: center;

        &:hover{
            background-color: var(--table-start-state-hover) !important;
        }
    }

    & .blocked-state {
        background-color: var(--table-blocked-state);
        text-align: center;

        &:hover{
            background-color: var(--table-blocked-state-hover) !important;
        }
    }

    & caption {
        cursor: auto;
        margin-bottom: 1rem;
    }

    & th {
        padding: 10px;
    }

    & td {
        border: 1px solid var(--table-color-border);
        padding: .5rem;
        transition: background-color .3s;
    }

    & tfoot {
        text-align: center;
        font-size: .7rem;
    }

    /* Filas impares dentro del cuerpo de la tabla */
    & tbody tr:nth-child(odd) {
        background-color: var(--table-color-A);

        & td:hover{
            background-color: var(--table-color-A-hover);
        }
    }

    /* Filas pares dentro del cuerpo de la tabla */
    & tbody tr:nth-child(even){
        background-color: var(--table-color-B);

        & td:hover{
            background-color: var(--table-color-B-hover);
        }
    }
}

/* contacto.html */
#contact {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: nowrap;

    padding: 0 2rem;

    & .map {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & iframe {
            width: 100%;
            height: 100%;

            border-radius: .75rem;
            border: 2px solid var(--map-border);
            box-shadow: 0 0 4px var(--map-border);

            transition: box-shadow .3s;

            &:hover {
                box-shadow: 0 0 10px var(--map-border);
            }
        }
    }

    & section {
        flex: 1 1 50%;
        padding: 2rem;

        border-radius: .75rem;

        /* El section que contiene el form */
        &:first-child {
            background-color: var(--contact-bg);

            /* 
            Como por el textarea puedes aumentar el tamaño, el section del tiene 
            que tener un margin para que no se pegue al footer al aumentarlo demasiado.
            */
            margin-bottom: 1rem;
        }
    }

    & form {
        display: flex;
        flex-direction: column;

        & label {
            padding-left: 3px;
            margin-bottom: 1px;
        }

        & textarea {
            height: 4rem;
            /* Porque de ampliarse horizontal daría problemas con el mapa y las dimensiones de la página */
            resize: vertical;
        }

        & select {
            cursor: pointer;
            text-overflow: ellipsis;
        }

        & option {
            color: var(--font-color-dark);
            background-color: var(--correct-input-color);

            &:first-child {
                text-align: center;
                background-color: #ffeeee;
            }
        }

        /* Sección de políticas de privacidad */
        & div {
            line-height: 2px;
            margin-bottom: 2rem;
        }

        /* Estilos generales de los inputs del usuario */
        & input, & textarea, & select{
            margin-bottom: 1rem;
            color: var(--font-color-dark);
            border: 2px solid var(--main-color-complementary-darker);
            border-radius: 6px;

            /* Al ser tan fino el outline la animación tiene que ser lenta para que se note */
            transition: outline .8s;
            
            &:focus, &:hover {
                /* 
                outline es como border, pero su principal diferencia es que no forma parte 
                del layout de la caja, lo que se traduce en un resultado visual que no empuja
                al resto de contenido.
                */
                outline: 1px solid var(--brighter-shadow);
            }

            &:valid {
                background-color: var(--correct-input-color);
            }

            &:invalid {
                background-color: var(--incorrect-input-color);
            }
        }
    }
}

/* Medias Quarry */
/* Para pantallas pequeñas */
@media (width <= 750px) {
    :root {
        /* 
        Al tener los margenes y paddings con rem al cambiar el tamaño de la fuente 
        se ajusta todo.
        */
        font-size: 12px;
    }
    
    /* Sinceramente centro el logo porque me dijeron que quedaba mejor */
    header {
        display: flex;
        justify-content: center;

        padding: .3rem 0;
    }
    
    /* index.html */
    .bento {
        /* Pasa de 3 a 1 columna */
        grid-template-columns: auto;
        /* 
        Tiene tantas filas como las que sean necesarias con el tamaño necesario 
        albergar el contenido. 
        */
        grid-template-rows: repeat(auto-fit, auto);

        /* Resetean las expansiones de los article que conformas el bento */
        & .expandir-horizontal {
            grid-column-start: span 1;
            flex-direction: row;
        }

        & .expandir-vertical {
            grid-row-start: span 1;
            flex-direction: row;
        }

        & .no-expandir {
            grid-column-start: span 1;
            flex-direction: row;
        }
    }
}

/* Para pantallas móviles */
@media (width <= 500px) {
    :root {
        font-size: 13px;
    }

    /* El footer pasa ha ser tan pequeño que no puede contener el contenido */
    footer {
        flex-direction: column;
        gap: 1rem;
    }

    /* index.html */
    .bento {
        /* 
        Quieto los efectos del hover porque entiendo 
        que puede llegar a ser molesto en móviles 
        */
        & article {
            &:hover {
                filter: brightness(1);
                transform: scale(1);
                box-shadow: 0 0 1rem var(--shadow);

                & h3, p {
                    text-shadow: none;
                }
            }
        }

        &:has(article:hover) article:not(article:hover) {
            filter: blur(0);
        }
    }

    .CTA-card {
        /* Por que al tener tan poco ancho se ve muy mal la imagen */
        background-image: url("../img/cta2.jpg");
        background-position: left;

        & h2 {
            text-align: left;
        }
    }
    
    /* proyecto-estrella.html */
    #main-content {
        /* Para poner en columna el aside con el main */
        /* Es reverse porque por el orden en el html se podría al final no al principio */
        flex-direction: column-reverse;

        & main {
            /* Como no hay aside el main tiene que ocupar todo lo posible */
            max-width: 100dvw;
        }
        

        & aside {
            border-left: none;
            border-bottom: 3px solid var(--main-color-complementary-darker);

            padding: 1rem;

            & ul {
                display: grid;
                grid-template-columns: auto auto;
                justify-items: center;
            }

            & li {
                margin: .75rem 0;
            }

            /* El li que contiene precios */
            /* Para que quede bien al ser impares. */
            & li:last-child {
                grid-column-start: span 2;
            }
        }

        & section {
            max-width: 90%;
        }

        & #pricing {
            max-width: 95%;
        }
    }

    /* cronologia.html */
    #service-table {
        /* Cambio la forma de la tabla */
        & thead, & .empty-cell {display: none;}
        & td {
            display: flex;
            flex-direction: column;
        }
    }

    /* contacto.html */
    #contact{
        flex-direction: column;
        & section {
            width: 100%;
        }
    }
}



